@media all {
	/*fraction display for meter*/
	div[class^="col-"] {
		vertical-align: inherit !important;
	}
	label {
		padding-left: 20px;
		padding-right:20px;
	}

	.vcenter {
	    display: inline-block;
	    vertical-align: middle;
	    float: none;
	}

	.vert-middle {
		vertical-align: middle !important;
	}

	.row-bottom-border {
		padding-bottom: 20px !important;
		border-bottom-width: thin !important;
		border-bottom-color: lightgray !important;
		border-bottom-style: solid !important;
	}

	.parent {
	    display: table;
	    table-layout: fixed;
	}

	.child {
	    display:table-cell;
	    vertical-align:middle;
	    text-align:center;
	}

}

@media screen {

	.print-only-canvas {
		display:none;
	}

	.screen-only-canvas {
		display:block-inline;
	}
	
	.perm-visible-canvas {
		display:block-inline;
	}

	.invisible-canvas {
		display:none;
	}
	.selector-label {
	 	/*float:left;*/
	 	/*margin: 0 auto;*/
	 	display:inline;
	 	padding-right: 20px;
	 	padding-left:20px;

	}

	.print-inline-label {
		display:none;
	}

}

@media print {
	.morphing-selector { 
		/*display: none !important;*/
		display: inline;
		/*border-width: 0 0 thin 0;*/
		width: 120px;
		/*background-color: lightgreen !important;*/
		-moz-appearance: none; /* remove arrow */
        -webkit-appearance: none;
        appearance: none;
        line-height: 1;

	 }

	 .selector-label {
	 	float:left;
	 	margin: 0 auto;
	 	display:inline;
	 	padding-right: 20px;

	 }

	.force-print-break {
	 	page-break-after: always; /* this is a temporary solution for printing - the placement of page break 
	 	will depend heavily on media and amount of questions */
	}

	.body-print-helper {
		/* helper class to prevent division of question accross pages on print. restructure the question scheme later in templating */
		page-break-inside: avoid;
	}

	.page-break-here {page-break-after: always;}

	.print-inline-label {
		display:inline;
	}

	.print-only-canvas {
		display:block-inline;
	}

	.screen-only-canvas {
		display:none;
	}
	
	.perm-visible-canvas {
		display:block-inline;
	}

	.invisible-canvas {
		display:none;
	}

	label {
		margin: 0;
		float:left;
	}
}