
/* For mobile phones: */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	* {
		/*color: blue;*/
	}

	.phone-test {
		/*visibility: block;*/
		text-align:center;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.phone-test {
		display: block;
		/*text-align:center;*/
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
/* this is here so that the navbars top and bottom dont cut into the content */
@media screen and (min-width: 100px) {
		body {
		padding-top: 60px;
		padding-bottom: 42px;
		}
}

.flex-container {
	display: flex;
    /*grid-gap: 5px;*/
    /*grid-template-columns: repeat(auto-fit, 100px);*/
    /*grid-template-rows: repeat(2, 100px);*/
    flex-direction: column
}

}


.vert-align {
	vertical-align: middle;
}
.parent {
		 position: relative;
}
.child {
	 	position: absolute;
		top: 50%;
	transform: translateY(-50%);
}

.bgimage {
	/*background-image: url(Dynamic-edge.jpg);*/
	background-size: 100%;

}

.triad-canvas {
	/*position: absolute;*/
	/*bottom: 0;*/
	/*padding-top: 30px;
	overflow: visible;*/
}	

.screen-canvas-div {
	/*position:relative;*/
}

@media print {
	body {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.test-grid-container {
	display: grid;	
	/*width: 700px !important;*/
	max-width: 100% !important;
  	grid-template-columns: 1fr 2fr 1fr;
  	/*grid-template-rows: auto;*/
  	grid-template-areas: 
	    "header header header"
	    "instruction instruction instruction"
	    "example example example"
	    "lpanel canvaspanel rpanel"
	    "answercheck answercheck answercheck"
	    "controls controls controls"
	    "footer footer footer";
	
}

.test-grid-container .header {
	grid-area: header;
}

.test-grid-container .instruction {
	grid-area: instruction;
}

.test-grid-container .example {
	grid-area: example;
}

.test-grid-container .lpanel {
	grid-area: lpanel;
}

.test-grid-container .canvaspanel {
	grid-area: canvaspanel;
}

.test-grid-container .rpanel {
	grid-area: rpanel;
}

.test-grid-container .answercheck {
	grid-area: answercheck;
}

.test-grid-container .controls {
	grid-area: controls;
}

.test-grid-container .footer {
	grid-area: footer;
}

.test-grid-container div {
	/*display: inline-block;*/
}

div .red {
	border: 1px red solid;
}







